[Unit]
Description=NextCloud hosting stack managed by podman-compose.
Documentation=man:systemd.service(5)
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/usr/share/nextcloud-container-stack/conf.d/env
Environment=PODMAN_COMPOSE_PROVIDER=/usr/bin/podman-compose
Type=oneshot
RemainAfterExit=yes
User=nextcloud-container-stack
Group=nextcloud-container-stack
WorkingDirectory=/usr/share/nextcloud-container-stack
ExecStart=/usr/share/nextcloud-container-stack/scripts/start.sh
ExecStop=/usr/share/nextcloud-container-stack/scripts/stop.sh
TimeoutStartSec=180
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
