Source: nextcloud-container-stack
Section: admin
Priority: optional
Maintainer: nanajo <nanajo@example.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: nextcloud-container-stack
Architecture: all
Depends:
 ${misc:Depends},
 bash,
 podman,
 podman-compose
Description: This is sample application.